<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
        "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
    <title>Survey {{ survey.name }} on Bing Maps</title>
    <style type="text/css">
        html {
            height: 100%
        }

        body {
            height: 100%;
            margin: 0;
            padding: 0
        }

        #mapDiv {
            height: 100%
        }
    </style>
    <title></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>

    <script type="text/javascript" src="http://ecn.dev.virtualearth.net/mapcontrol/mapcontrol.ashx?v=7.0"></script>

    <script type="text/javascript">
        function GetMap() {

            var map = new Microsoft.Maps.Map(document.getElementById("mapDiv"),
                    {credentials: "AlSJP5QjV5T4SERHq84m_c4BIlOcPiOXLb1o3tFgF1wJuFmoXlMuxDgGZB3fZmGl",
                        center: new Microsoft.Maps.Location({{ points.0.ETRS89lat }}, {{ points.0.ETRS89lng }}),
                        mapTypeId: Microsoft.Maps.MapTypeId.aerial,
                        zoom: 19});

            {% load staticfiles %}
            {% for point in points %}
                var loc{{ forloop.counter }} = new Microsoft.Maps.Location({{ point.ETRS89lat }}, {{ point.ETRS89lng }});

                var pin{{ forloop.counter }} = new Microsoft.Maps.Pushpin(loc{{ forloop.counter }}, {icon: '{% static "converter/target.png" %}', width: 36, height: 36, anchor: new
                        Microsoft.Maps.Point(18, 18), draggable: false});

                var pinInfobox{{ forloop.counter }} = new Microsoft.Maps.Infobox(new Microsoft.Maps.Location(0,0), {title: 'My Pushpin{{ forloop.counter }}', visible: true});

                Microsoft.Maps.Events.addHandler(pin{{ forloop.counter }}, 'click', displayInfobox{{ forloop.counter }});

                Microsoft.Maps.Events.addHandler(map, 'viewchange', hideInfobox{{ forloop.counter }});

                map.entities.push(pin{{ forloop.counter }});
                map.entities.push(pinInfobox{{ forloop.counter }});

                function displayInfobox{{ forloop.counter }}(e) {
                    pinInfobox{{ forloop.counter }}.setOptions({ visible: true });
                }

                function hideInfobox{{ forloop.counter }}(e) {
                    pinInfobox{{ forloop.counter }}.setOptions({ visible: false });
                }

            {% endfor %}

            {% for group in groups %}
                var lineCoordiantes{{ forloop.counter }} = [
                    {% for point in points %}
                        {% if point.group == group %}
                            new Microsoft.Maps.Location({{ point.ETRS89lat }}, {{ point.ETRS89lng }}),
                        {% endif %}
                    {% endfor   %}
                ];

                var line{{ forloop.counter }} = new Microsoft.Maps.{% if group.type == 'PL' %}Polyline{% else %}
                    Polygon{% endif %}(lineCoordiantes{{ forloop.counter }},{fillColor: new Microsoft.Maps.Color.fromHex('#{{ group.colour }}'), strokeColor: new Microsoft.Maps.Color.fromHex('#{{ group.colour }}'), strokeThickness: 2});

                // Add the polyline to the map
                map.entities.push(line{{ forloop.counter }});
            {% endfor %}



        }
    </script>
</head>
<body onload="GetMap();">
<div id='mapDiv'/>
</body>
</html>