<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <title>Survey {{ survey.name }} on Google Maps</title>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.css' %}"/>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <style type="text/css">
        html {
            height: 100%
        }

        body {
            height: 100%;
            margin: 0;
            padding: 0;

        }

        #map-canvas {
            height: 100%;
            width: 100%;

        }
    </style>
    <script type="text/javascript"
            src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBYe7rAdWWGkwLHb0UQFfVMMXXwX6enYbE&sensor=false">
    </script>
    <script type="text/javascript">
        function initialize() {
            var myLatLng = new google.maps.LatLng({{ points.0.ETRS89lat }}, {{ points.0.ETRS89lng }})
            var mapOptions = {
                center: myLatLng,
                zoom: 19,
                mapTypeId: google.maps.MapTypeId.SATELLITE
            };
            var map = new google.maps.Map(document.getElementById("map-canvas"),
                    mapOptions);
            {% load staticfiles %}

            var markerImage = new google.maps.MarkerImage('{% static "converter/target.png" %}',
                    new google.maps.Size(36, 36),
                    new google.maps.Point(0, 0),
                    new google.maps.Point(18, 18)
            );

            {% for point in points %}
                var contentString{{ forloop.counter }} = 'Point label: {{ point.label }} </br>' +
                        'ETRS89:{{ point.ETRS89lat }}, {{ point.ETRS89lng }}, {{ point.ETRS89h }} </br>' +
                        'OSGB36:{{ point.OSGBe }}, {{ point.OSGBn }}, {{ point.OSGBh }}</br></br>' +
                        'Produced by surveyplot.co.uk'
                var infowindow{{ forloop.counter }} = new google.maps.InfoWindow({
                    content: contentString{{ forloop.counter }}
                });
                var marker{{ forloop.counter }} = new google.maps.Marker({
                    position: new google.maps.LatLng({{ point.ETRS89lat }}, {{ point.ETRS89lng }}),
                    icon: markerImage,
                    map: map,
                    title: '{{ point.label }}'
                });
                google.maps.event.addListener(marker{{ forloop.counter }}, 'click', function () {
                    infowindow{{ forloop.counter }}.open(map, marker{{ forloop.counter }});
                });
            {% endfor %}


            {% for group in groups %}
                {% if group.single_point == False %}
                    var lineCoordiantes = [
                        {% for point in points %}
                            {% if point.group == group %}
                                new google.maps.LatLng({{ point.ETRS89lat }}, {{ point.ETRS89lng }}),
                            {% endif %}
                        {% endfor   %}
                    ];
                    var line = new google.maps.{% if group.type == 'PL' %}Polyline{% else %}Polygon{% endif %}({
                        path: lineCoordiantes,
                        geodesic: true,
                        strokeColor: '{{ group.colour }}',
                        strokeOpacity: 1.0,
                        strokeWeight: 2,
                        fillColor: '{{ group.colour }}',
                        fillOpacity: 0.35
                    })
                    line.setMap(map);
                {% endif %}
            {% endfor %}

        }
        google.maps.event.addDomListener(window, 'load', initialize);

    </script>
</head>
<body>
<div class="container">
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">{{ survey.name }}</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a id="review" href="{% url 'converter:review' survey.id %}">Display Properties</a></li>
                    <li class="active"><a id="gmaps" href="{% url 'converter:gmap' survey.id %}">Google Maps</a></li>
                    <li><a id="bmaps" href="{% url 'converter:bmap' survey.id %}">Bing Maps</a></li>
                    <li><a id="osmaps" href="{% url 'converter:OSmap' survey.id %}">Ordnance Survey Maps</a></li>
                    <li><a id="openstreetmaps" href="{% url 'converter:ostreetmap' survey.id %}">Open Street Maps</a>
                    </li>
                    <li><a id="kml" href="{% url 'converter:kml' survey.id %}">KML Download</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'converter:index' %}">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="map-canvas"/>
</body>
</html>


