<!DOCTYPE html>
<html>

<head>
    {% load staticfiles %}
    <title>Surveyplot - Transform and display Coordinates</title>
    <!--<link rel="stylesheet" href="http://formalize.me/assets/css/demo.css"/> -->
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.css' %}"/>

    <style type="text/css">


        .smalltextbox {
            width: 50px;
        }

        .normaltextbox {
            width: 80px;
        }

        .largetextbox {
            width: 100px;
        }

        .centre {
            margin-left: auto;
            margin-right: auto;
            margin-top: 50px;
            margin-bottom: 50px;
            width: 150px;
        }


    </style>
</head>
<body>


<div class="container">

    <!-- Static navbar -->
    <div class="navbar navbar-default" role="navigation">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Transform Coordinates</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li id="cscont" class="active"><a id="changepoint" href="#">Single Point</a></li>
                    <li id="cfcont"><a id="changefile" href="#">File Input</a></li>
                </ul>
            </div>
        </div>
    </div>

    <!-- Main component for a primary marketing message or call to action -->
    <div class="jumbotron">

        <form enctype="multipart/form-data" action="{% url 'converter:process' %}" method="post">
            {% csrf_token %}
            <input type="text" name="name" placeholder="Insert Name Here" style="margin-bottom: 5px" required></br>
            <select name="system" id="system">
                <option value="NE">Eastings/Northings</option>
                <option value="DD">Decimal Degrees</option>
            </select>
            <label for="system">Input System Used</label> <br/>

            <div id="userinput">
                <div id="en">
                    <input type="number" min="0" max="700000" step="0.001" name="east" id="east" class="largetextbox"/>
                    <label for="east">Easting</label><br/>
                    <input type="number" min="0" max="1250000" step="0.001" name="north" id="north"
                           class="largetextbox"/>
                    <label for="north">Northing</label><br/>
                </div>
                <div id="dd">
                    <input type="number" min="-90" max="90" step="0.00000000001" name="latdd" id="latdd"
                           class="largetextbox"/>
                    <label for="latdd">Latitude</label><br/>
                    <input type="number" min="-180" max="180" step="0.00000000001" name="lngdd" id="lngdd"
                           class="largetextbox"/>
                    <label for="lngdd">Longitude</label><br/>
                </div>
                <div id="dms">
                    <input type="number" min="-90" max="90" step="1" name="latd" id="latd" class="smalltextbox"/>
                    <input type="number" min="0" max="60" step="1" name="latm" id="latm" class="smalltextbox"/>
                    <input type="number" min="0" max="60" step="0.000001" name="lats" id="lats" class="normaltextbox"/>
                    <label for="lats">Latitude</label><br/>
                    <input type="number" min="-180" max="180" step="1" name="lngd" id="lngd" class="smalltextbox"/>
                    <input type="number" min="0" max="60" step="1" name="lngm" id="lngm" class="smalltextbox"/>
                    <input type="number" min="0" max="60" step="0.000001" name="lngs" id="lngs" class="normaltextbox"/>
                    <label for="lngs">Longitude</label><br/>
                </div>

                <input type="number" min="0" max="2500" step="0.001" name="height" id="height" class="largetextbox">
                <label for="height">Height</label><br/>
            </div>
            <div id="file">
                <input type="file" name="path" id="path"
                       accept=".csv">
                <label for="file">Select CSV File</label>

            </div>

            <input type="submit" value="Convert" class="btn btn-primary"/></br>
            <input type="hidden" value="False" id="usefile" name="usefile">


        </form>
    </div>


    <div class="centre">
        <button type="button" class="btn btn-info"
                onclick="location.href='{% static "converter/Field course test.csv" %}'">Download Test File
        </button>
    </div>
    <div class="well" id="comment" style="width: 60%; margin-right: auto; margin-left: auto">
        <p>File should be in format id,e,n,h or id,lat,lng,h <br> Groups of points should be consecutive in file and
            have an incrementing integer ending each id <br> build1,build2,build3 would be grouped together, as would
            12,13,14 </p>
    </div>
    <div class="well" id="notes" style="width: 60%; margin-right: auto; margin-left: auto">
        <p>
            This website has been created by Matthew Harrison under the guidance of <a href="http://homepages.lboro.ac.uk/~cvjhc/">Jim Chandler</a> as part of an MEng Civil Engineering final year project at <a href="http://lboro.ac.uk">Loughborough University</a>. Send me an <a href="mailto:M.Harrison-09@student.lboro.ac.uk?Subject=surveyplot.co.uk">Email</a>
        </p>
        <p>
            OSTN02 is used for the transformation of coordinates from UK National Grid to ETRS89 coordinates. Note both Google and Bing Maps use the WGS84 coordinate system, the 'Experimental Converter' checkbox transforms between these systems.
        </p>
    </div>
</div>
</body>
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
<!--<script src="http://formalize.me/assets/js/jquery.formalize.js"></script>-->
<script>
    function toggleTabs() {

    }

    function updateUI() {
        if ($('#system').val().match('NE')) {
            $('#en').show()
            $('#dd').hide();
            $('#dms').hide();
        } else if ($('#system').val().match('DD')) {
            $('#en').hide()
            $('#dd').show();
            $('#dms').hide();
        } else {
            $('#en').hide()
            $('#dd').hide();
            $('#dms').show();
        }


        if ($('#cfcont').hasClass("active")) {
            $('#file').show()
            $('#comment').show()
            $('#userinput').hide()
            $("#system option[value='DMS']").remove()
            $("#usefile").val("True")
        } else {
            $('#file').hide()
            $('#comment').hide()
            $('#userinput').show()
            if ($("#system option[value='DMS']").length == 0) {
                $('#system').append('<option value="DMS">Degree Minute Second</option>')
            }

            $("#usefile").val("False")
        }
    }
    history.navigationMode = 'compatible';
    $(document).ready(function () {
        updateUI()
    })
    $("#system")
            .change(function () {

                $("select option:selected").each(function () {
                    updateUI()
                });

            })

    $("#changefile").click(function () {
        if ($('#cscont').hasClass("active")) {
            $('#cscont').removeClass("active")
            $('#cfcont').addClass("active")
            updateUI()
        }
    })

    $("#changepoint").click(function () {
        if ($('#cfcont').hasClass("active")) {
            $('#cfcont').removeClass("active")
            $('#cscont').addClass("active")
            updateUI()
        }
    })

    $("#usefile")
            .change(function () {
                updateUI()
            })


</script>
</html>
