<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    {% load staticfiles %}
    <title>Survey {{ survey.name }} on Ordnance Survey Map</title>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.css' %}"/>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>

    <!-- Remember to insert your own API key in the URL below -->

    <script type="text/javascript"
            src="http://openspace.ordnancesurvey.co.uk/osmapapi/openspace.js?key=EA4A2D87E8C473D6E0430B6CA40A9AB7"></script>
    <script>
        // Define the osMap variable

        var osMap;


        function init() {


            osMap = new OpenSpace.Map('map');


            osMap.setCenter(new OpenSpace.MapPoint({{ points.0.OSGBe }}, {{ points.0.OSGBn }}), 20);


            var size = new OpenLayers.Size(36, 36);
            var offset = new OpenLayers.Pixel(-18, -18);



            {% for point in points %}
                var icon = new OpenSpace.Icon('{% static "converter/target.png" %}', size, offset);
                var pos{{ forloop.counter }} = new OpenSpace.MapPoint({{ point.OSGBe }}, {{ point.OSGBn }});
                osMap.createMarker(pos{{ forloop.counter }}, icon);
            {% endfor %}


            {% for group in groups %}
                {% if group.single_point == False %}
                    vectorLayer{{ forloop.counter }} = new OpenLayers.Layer.Vector("group{{ forloop.counter }}");
                    var points{{ forloop.counter }} = [];
                    {% for point in points %}
                        {% if point.group == group %}
                            points{{ forloop.parentloop.counter }}.push(new OpenLayers.Geometry.Point({{ point.OSGBe }}, {{ point.OSGBn }}));
                        {% endif %}
                    {% endfor   %}

                    var style =
                    {
                        strokeColor: "#{{ group.colour }}",
                        strokeOpacity: 1,
                        strokeWidth: 2,
                        fillColor: "#{{ group.colour }}",
                        fillOpacity: 0.35
                    };
                    {% if group.type == 'PL' %}
                        var lineString{{ forloop.counter }} = new OpenLayers.Geometry.LineString(points{{ forloop.counter }});
                        var lineFeature{{ forloop.counter }} = new OpenLayers.Feature.Vector(lineString{{ forloop.counter }}, null, style);
                        vectorLayer{{ forloop.counter }}.addFeatures([lineFeature{{ forloop.counter }}]);
                    {% else %}
                        var linearRing{{ forloop.counter }} = new OpenLayers.Geometry.LinearRing(points{{ forloop.counter }});
                        var polygonFeature{{ forloop.counter }} = new OpenLayers.Feature.Vector(linearRing{{ forloop.counter }}, null, style);
                        vectorLayer{{ forloop.counter }}.addFeatures([polygonFeature{{ forloop.counter }} ]);

                    {% endif %}
                    osMap.addLayer(vectorLayer{{ forloop.counter }});
                {% endif %}
            {% endfor %}







            clusterControl = new OpenSpace.Control.ClusterManager();
            osMap.addControl(clusterControl);
            clusterControl.activate();
        }
    </script>

    <style>
        html, body {
            height: 100%;
        }

        #map {
            height: 100%;
        }
    </style>

</head>

<body onload="init()">
<div class="container">
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">{{ survey.name }}</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a id="review" href="{% url 'converter:review' survey.id %}">Display Properties</a></li>
                    <li><a id="gmaps" href="{% url 'converter:gmap' survey.id %}">Google Maps</a></li>
                    <li><a id="bmaps" href="{% url 'converter:bmap' survey.id %}">Bing Maps</a></li>
                    <li class="active"><a id="osmaps" href="{% url 'converter:OSmap' survey.id %}">Ordnance Survey
                        Maps</a></li>
                    <li><a id="openstreetmaps" href="{% url 'converter:ostreetmap' survey.id %}">Open Street Maps</a>
                    </li>
                    <li><a id="kml" href="{% url 'converter:kml' survey.id %}">KML Download</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'converter:index' %}">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>

<!-- The div below holds the map -->

<div id="map"></div>
<script>
    //GoogleAnalytics
    (function (i, s, o, g, r, a, m) {
        i['GoogleAnalyticsObject'] = r;
        i[r] = i[r] || function () {
            (i[r].q = i[r].q || []).push(arguments)
        }, i[r].l = 1 * new Date();
        a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
        a.async = 1;
        a.src = g;
        m.parentNode.insertBefore(a, m)
    })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

    ga('create', 'UA-6507498-3', 'surveyplot.co.uk');
    ga('send', 'pageview');

</script>
</body>
</html>