<!DOCTYPE html>
<html>
<head>
    <title>Survey {{ survey.name }} on Open Street Map</title>
    <meta charset="utf-8"/>
    <style type="text/css">
        html {
            height: 100%
        }

        body {
            height: 100%;
            margin: 0;
            padding: 0
        }

        #map {
            height: 100%
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css"/>
</head>
<body>
<div id="map"></div>

<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
<script>

    var map = L.map('map').setView([{{ points.0.ETRS89lat }}, {{ points.0.ETRS89lng }}], 18);
    {% load staticfiles %}
    var greenIcon = L.icon({
        iconUrl: '{% static "converter/target.png" %}',

        iconSize: [36, 36], // size of the icon
        iconAnchor: [18, 18] // point of the icon which will correspond to marker's location

    });

    L.tileLayer('http://{s}.tile.cloudmade.com/8402ebeb658548d99e7d442a1a77a9f7/997/256/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
    }).addTo(map);

    {% for point in points %}
        L.marker([{{ point.ETRS89lat }}, {{ point.ETRS89lng }}], {icon: greenIcon}).addTo(map);
    {% endfor %}

    {% if points|length > 1 %}
        {% for group in groups %}
            L.{% if group.type == 'PL' %}polyline{% else %}polygon{% endif %}([
                {% for point in points %}
                    {% if point.group == group %}
                        [{{ point.ETRS89lat }}, {{ point.ETRS89lng }}],
                    {% endif %}
                {% endfor   %}
            ], {color: '#{{ group.colour }}'}).addTo(map);

        {% endfor %}
    {% endif %}



</script>
</body>
</html>
