<!DOCTYPE html>
<html>
<head>
    {% load staticfiles %}
    <title>Survey {{ survey.name }} on Open Street Map</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.css' %}"/>
    <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap-theme.css' %}"/>
    <script src="http://code.jquery.com/jquery-1.9.1.js"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    <style type="text/css">
        html {
            height: 100%
        }

        body {
            height: 100%;
            margin: 0;
            padding: 0
        }

        #map {
            height: 100%
        }
    </style>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.css"/>
</head>
<body>
<div class="container">
    <div class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">{{ survey.name }}</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li><a id="review" href="{% url 'converter:review' survey.id %}">Review</a></li>
                    <li><a id="gmaps" href="{% url 'converter:gmap' survey.id %}">Google Maps</a></li>
                    <li><a id="bmaps" href="{% url 'converter:bmap' survey.id %}">Bing Maps</a></li>
                    <li><a id="osmaps" href="{% url 'converter:OSmap' survey.id %}">Ordnance Survey Maps</a></li>
                    <li class="active"><a id="openstreetmaps" href="{% url 'converter:ostreetmap' survey.id %}">Open
                        Street Maps</a>
                    </li>
                    <li><a id="kml" href="{% url 'converter:kml' survey.id %}">KML Download</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="{% url 'converter:index' %}">Home</a></li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div id="map"></div>

<script src="http://cdn.leafletjs.com/leaflet-0.7.2/leaflet.js"></script>
<script>

    var map = L.map('map').setView([{{ points.0.ETRS89lat }}, {{ points.0.ETRS89lng }}], 18);

    var greenIcon = L.icon({
        iconUrl: '{% static "converter/target.png" %}',

        iconSize: [36, 36], // size of the icon
        iconAnchor: [18, 18] // point of the icon which will correspond to marker's location

    });

    L.tileLayer('http://{s}.tile.cloudmade.com/8402ebeb658548d99e7d442a1a77a9f7/997/256/{z}/{x}/{y}.png', {
        maxZoom: 19,
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://cloudmade.com">CloudMade</a>'
    }).addTo(map);

    {% for point in points %}
        L.marker([{{ point.ETRS89lat }}, {{ point.ETRS89lng }}], {icon: greenIcon}).addTo(map);
    {% endfor %}


    {% for group in groups %}
        {% if group.single_point == False %}
            L.{% if group.type == 'PL' %}polyline{% else %}polygon{% endif %}([
                {% for point in points %}
                    {% if point.group == group %}
                        [{{ point.ETRS89lat }}, {{ point.ETRS89lng }}],
                    {% endif %}
                {% endfor   %}
            ],{color: '#{{ group.colour }}'}).addTo(map);
        {% endif %}

    {% endfor %}


</script>
</body>
</html>
